:80 {
	# Set this path to your site's directory.
	#root * /usr/share/caddy

	# Enable the static file server.
	file_server

	# Another common task is to set up a reverse proxy:
	# reverse_proxy localhost:8080

	# Or serve a PHP site through php-fpm:
	# php_fastcgi localhost:9000
	root * /var/www
	reverse_proxy /leafApi localhost:8000
	reverse_proxy /api localhost:8001
	reverse_proxy /socket.io localhost:8001
	encode gzip zstd
}
